<nav class="navbar is-light is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        Example Website
      </a>
    </div>
  </div>
</nav>