<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <h1>Example Page</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consequuntur optio tempora. Ea, aliquid
            exercitationem. Mollitia molestiae suscipit hic earum nostrum consequatur tempore rerum necessitatibus,
            recusandae alias illum facilis rem!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quo necessitatibus aperiam error et amet,
            cumque dolore. Dignissimos iure possimus quis, exercitationem debitis, facilis omnis error in commodi harum
            totam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, omnis voluptatibus quae facere
            consequuntur laborum odio, magni optio delectus eius sapiente, ipsam et molestiae ex ipsum nostrum nemo.
            Nemo,
            porro?
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum exercitationem rerum facilis voluptas vero
            libero! Eum sint, aliquid dignissimos ipsa unde iste. Provident ut nam delectus dolor dolorum numquam eius.
          </p>
          <a href="/" class="button">&laquo; Return Home</a>
        </div>
      </div>
    </div>
  </div>
</section>