<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <h1>Static Boilerplate</h1>
          <p>
            Boilerplate developed by <a href="https://forge.uk">Forge</a>, a digital marketing and development agency
            based in Central London.
          </p>
          <p>
            Working with amazing companies around the world, we craft digital experiences that are designed to help
            businesses grow. Our expert team of software developers, designers, marketers and strategists work together
            to build bespoke digital solutions for our vast range of clients.
          </p>
          <p>
            Got an idea? Need some help? Send us a message and kick off a conversation.
          </p>
          <a href="/example" class="button">Example Page &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>